{{ set(this, 'title', "Thank You") }}
<!-- Begin Container -->

<div class="auth">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane login active forgot-password">
            <div class="content_area text-center">
                <h4 class="helper-text">Your password has been modified successfully.</h4>
                <a href="{{_AppHelper.getLoginUrl()}}" class="button has-margin-top-20">Back to login</a>
            </div>
        </div>
    </div>
</div>