{{ set(this, 'title', 'Signup Successful') }}
{% set networkData = _Network.getNetworkData() %}
<div class="auth">
    <div class="auth__content">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane login active text-center forgot-password" id="signIn">
                <p class="helper-text"> Thank You for registering with us. Please check your inbox to verify your email address.</p>
                <a href="{{networkData.defaultBlogUrl}}" class="button has-margin-top-20">Back to Home</a>
            </div>
        </div>
    </div>
</div>
